<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 基础信息权限 -->
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <!-- 空调控制权限 -->
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <!-- 车窗控制权限 -->
    <uses-permission android:name="android.car.permission.CONTROL_CAR_WINDOWS"/>
    <!-- 新增：车外环境数据权限（读取车外温度需要此权限） -->
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_ENVIRONMENT" />

    <application
        android:name=".CarApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarServiceSample">

        <uses-library android:name="android.car" android:required="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CarServiceSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
